body { background: #2a9820; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 22px; display: flex; }
.block-router-0 { color: #c7ec8a; font-size: 20px; margin-bottom: 5px; }
.block-cluster-1 { color: #9c45bd; font-size: 15px; margin-bottom: 5px; }
.block-filter-2 { color: #32a824; font-size: 19px; margin-bottom: 5px; }
.block-sms-3 { color: #8d6f0; font-size: 19px; margin-bottom: 5px; }
.block-helper-4 { color: #8f6daf; font-size: 19px; margin-bottom: 5px; }